{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- external css-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
    <header>
        <div class="firstdiv">
            <div class="container">
            <div class="row">

                <div class="col" id="location">
                    <span>(Location)</span>
                    <span>(Timings)</span>
                    <span>(Span)-Use Responsive icons</span>
                </div>
                <div class="col" id="socialmedia">
                    <h6 >(Social Media Icons)</h6>
                </div>

            </div>
            </div>

        </div>
<nav class="navbar navbar-expand-lg navbar-light bg-white pl-sm-5">
  <a class="navbar-brand" href="#">LANDMAND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav  mx-auto" style="padding-left: 100px">
      <li class="nav-item active ">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >About Us</a>
      </li>
      <li class="nav-item active " >
        <a class="nav-link" href="#">Products</a>
      </li>
        <li class="nav-item active ">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Gallery</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Careers</a>
      </li>
        <li class="nav-item active mx-auto" style="padding-left: 100px">
        <a class="nav-link" href="#"> <i class="fa fa-search"></i></a>
      </li>
          <li class="nav-item active">
        <a class="nav-link" href="#"> <i class="fa fa-shopping-cart"></i></a>
      </li>


{#  <input type="text" placeholder="Search.." name="search">#}


   </ul>

  </div>
</nav>
        <div class="container-fluid pl-sm-5">
            <h6>Home>Products><b>Drones</b></h6>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <div style="text-align: right;padding-right: 5%;">
                <button type="button" style="background-color:#f5e23b;font-weight: bold;border: none;
                text-align: center;padding:10px 70px;">Add To Cart</button>
            </div>
        </div>
        <div class="container-fluid pl-sm-5">
            <div class="row">
            <div class="col-sm-8" style="padding-top: 3%;">
                <img src="{% static 'images/drone.jpg' %}" class="img-fluid" style="width:700px;height: 350px;">

                <div style="font-size: 0.8em;margin-top: 3%;font-weight: bold;color:lightslategrey">
                    <p>In todays's scenario, Drones have become a crucial requisite for most farmers across the world to generate impressive crop production and to keep an eye on crop growth in
                        agriculture. These agriculturedrones are also referred to as unmanned drones.
                        They also hugely help to look over livestock along with crops. Their ability to cover high definition aerial
                        visuals of crops will allow farmers to monitor farms from afar.</p>
                    <p>
                        It thorws a great deal of room for advancement with agricultural drones. As technology is
                        progressing with each passing day, capturing of the crops has to be improved accordingly.
                        So, using the data recorded by the drones, the farmers can scrutinize
                        their crops and take wise decisions on taking further steps for better producttivity.
                    </p>
                    <p>
                        As per some worldwide financial analysts reports, agriculture stands in second position among the
                        fields using drone technology. The demand of the technology has been further amplified by pulling down costs
                        of drone paraphernalia which is dipping primary outlays and
                        offering the approach for a quicker return on investment.
                    </p>
                    <p>
                        The requirement to maintain the steadiness between cost and worth has turned drones predominantly
                        striking for agriculture. Over and above, drones are quite affordable and operating a drone is a
                        very easy task for farmers to understand
                        and habituate. But, here to operate a drone, a pilot needs certification.
                    </p>
                    <p>
                        Thermal image capturing is the vital use of drones in agriculture. The farmers get a lucid image of their
                        crop from top taken by the multi spectral sensors fixed on the drone.
                    </p>
                    <p>
                        Hence, the farmer will mainly be acquainted with overcast crops.
                    </p>
                </div>
            </div>
            <div class="col-sm-4" style="padding-top: 3%;padding-left: 7%">
                <button type="button" style="background-color:#f5e23b;font-weight: bold;border: none;
                text-align: center;padding:5px 22px;">Our Products</button>
                 <div class="container bcontent">
        <h6 style="font-weight: bold;padding-top: 5%;color: #7A7D7F;font-size: 0.8em">GPA Enabled Devices</h6>
        <nav class="navbar navbar-light bg-light" style="font-size: 0.6em;font-weight: bold;width:170px" id="gpa" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="#">IOT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Drones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terrain Contour Mapping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Moisture Sensors</a>
                </li>
            </ul>
        </nav>
                      <button type="button" style="background-color:#f5e23b;font-weight: bold;border: none;
                text-align: center;padding:5px 27px;">Our Services</button>
                     <button style="font-size:0.9em;background-color:#f5e23b;font-weight: bold;border: none;
                text-align: center;padding:7px 8px;margin-top: 23%"> <i class="fa fa-file-pdf-o"></i>Download Brochure</button>
                     <img src="{% static 'images/f2.jpg' %}" height="300" width="180" style="margin-top: 50%;
-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);">
                     <div style="color:white;font-size: 1.0em;font-weight: bold">
                     <div style="top:70%;right:40%;position:absolute">Call Us</div>
                     <div style="top:72%;right:25%;position:absolute">(+91)-9666 848 734</div>
                         <button type="submit"  style="top:74%;right:32%;position:absolute;margin-top: 4%;border-radius: 25px;padding:4px 15px;font-weight: bold;
background-color: #f5e23b;font-size: 1.2em;border: none">Reach Us</button>
                     </div>
    </div>
            </div>
                </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container-fluid pl-sm-5"  style="padding-top: 5%" >
            <h5><b>Frequently Asked Questions?</b></h5>
            <span style="margin-top:15%;background-color:#f5e23b;padding:12px 20px"><b>What is the tenure of warrantly?   -</b></span>
            <p style="margin-top: 3%;margin-left: 1%;font-size: 0.9em;color:lightslategray;font-weight: bold">We provide a complete 3 year warrantly<br>
            on drone, which includes accidental<br>
            damage and service.</p>
            <div style="margin-top:3%;background-color:#f5e23b;padding:12px 20px;width:370px;height:40px;"><b>What is its coverage range?   </b></div>
            <div style="margin-top:3%;background-color:#f5e23b;padding:12px 20px;width:370px;height:40px;"><b>Can I get trail service?   </b></div>
             <div style="margin-top:3%;background-color:#f5e23b;padding:12px 20px;width:370px;height:40px;"><b>What is the delivery charge?  </b></div>
        </div>
            </div>
            <div class="col" style="padding-top: 5%">
                <video width="500" controls >
                    <source src="{% static 'videos/Drone - 9732.mp4' %}" type="video/mp4" >
                </video>
            </div>
        </div>
        </div>
    </section>
<div style="background-image: url({% static 'images/f4.jpg' %});margin-top: 20%;margin-left: 5%;
        margin-right: 5%;color:white;height:90px;padding: auto" class="img-fluid">
<span style="margin-top:3%;padding-left: 3%;font-weight: bold;font-size: 1em">Looking forward to fly this in your farm? Please approach us</span>
    <span style="padding-left: 10%;font-size: 1.3em;
font-weight: bold;border:5px yellow solid;">Make an Appointment</span><br><br><br><br>
</div>
    <div class="container-fluid pl-sm-5" style="margin-top: 8%;font-weight: bold;font-size: 1.5em;padding-botton:10%">
        <div class="row">
            <div class="col">
                <span style="background-color:#f5e23b;padding:12px 20px;width:370px;height:40px;">Schedule your Appointment</span>
                <form style="font-size: 0.9em;font-weight: bold;margin-top: 10%">
                    <table cellpadding="15%">
                        <tr >
                            <th>
                                 <input type="text" placeholder="Your Name" size="25">
                            </th>
                        </tr>
                         <tr>
                            <th>
                                <input type="text" placeholder="Mobile Number" size="25">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                  <input type="email" placeholder="Email ID" size="25">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="text" placeholder="Your Message to us" size="25">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <button type="button" style="border-radius: 25px;padding:4px 30px;font-weight: bold;
background-color: #f5e23b;font-size: 1.2em;border: none">Submit</button>
                            </th>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col" style="text-align: left">
                  <span style="background-color:#f5e23b;padding:12px 90px;width:400px;height:40px;">Latest News</span>
                <table style="text-align: center;margin-top: 10%;" cellpadding="5%">
                    <tr>
                        <th>
                            <img src="{% static 'images/flower.jpg' %}" width="100" height="100">
                        </th>
                        <th>
                            <h4 style="font-size: 1.0em">Insert latest news related to drones</h4>
                            <h6><i>02 May 2020</i></h6>
                        </th>
                    </tr>
                     <tr>
                        <th>
                            <img src="{% static 'images/f3.jpg' %}" width="100" height="100">
                        </th>
                        <th>
                            <h4 style="font-size: 1.0em">Insert latest news related to drones</h4>
                            <h6><i>02 May 2020</i></h6>
                        </th>
                    </tr>
                     <tr>
                        <th>
                            <img src="{% static 'images/f2.jpg' %}" width="100" height="100">
                        </th>
                        <th>
                            <h4 style="font-size: 1.0em">Insert latest news related to drones</h4>
                            <h6><i>02 May 2020</i></h6>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer style="background-color: black;color:white;padding-top: 10%;padding-bottom: 10%;
    font-weight:bold;font-size:8.6em;text-align: center;margin-top: 20%">
        <h1>Footer Remains Same for every page</h1>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>